.markdown-custom {

  background: transparent !important;
  color: var(--common-white-eight) !important;

  hr {
    display: none;
  }

  pre {
    background: #17181C !important;
    color: white !important;
  }
}